<div class="kenta-sidebar">
    <div class="kenta-sidebar-row">
        <a class="kenta-sidebar-button" href="{{ site.baseurl }}/">
            <div class="kenta-sidebar-div">
                Home
            </div>
        </a>
        <div class="kenta-sidebar-button kenta-dropdown">
            <div class="kenta-sidebar-div">
                Articles
            </div>
            <div class="kenta-dropdown-content">
                <a href="{{ site.baseurl }}/articles/A"><div class="kenta-dropdown-link">Development, Working in Team</div></a>
                <a href="{{ site.baseurl }}/articles/B"><div class="kenta-dropdown-link">B</div></a>
                <a href="{{ site.baseurl }}/articles/C"><div class="kenta-dropdown-link">C</div></a>
                <a href="{{ site.baseurl }}/articles/D"><div class="kenta-dropdown-link">D</div></a>
                <a href="{{ site.baseurl }}/articles/E"><div class="kenta-dropdown-link">E</div></a>
                <a href="{{ site.baseurl }}/articles/F"><div class="kenta-dropdown-link">F</div></a>
                <a href="{{ site.baseurl }}/articles/G"><div class="kenta-dropdown-link">G</div></a>
                <a href="{{ site.baseurl }}/articles/H"><div class="kenta-dropdown-link">H</div></a>
                <a href="{{ site.baseurl }}/articles/I"><div class="kenta-dropdown-link">I</div></a>
                <a href="{{ site.baseurl }}/articles/J"><div class="kenta-dropdown-link">J</div></a>
                <a href="{{ site.baseurl }}/articles/K"><div class="kenta-dropdown-link">K</div></a>
            </div>
        </div>
        <a class="kenta-sidebar-button" href="{{ site.urlgithub }}">
            <div class="kenta-sidebar-div">
                Git
            </div>
        </a>
    </div>
</div>