html {
    font-family: 'Montserrat', sans-serif;
    color: rgb(4, 10, 24);

    height: 100vh;
    background: rgb(252, 252, 252);
}

body {
    margin: 0;
    height: 100%;
    display: flex;

    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px;
    padding: 10px;
    background: rgba(252, 252, 252);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2 {
    font-weight: 600;
    /* color: rgba(33, 250, 144, 1); */
}

img {
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
      padding: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(73, 143, 223);
    border-radius: 100px;
    box-sizing: border-box;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(10, 73, 146);
  }

.kenta-sidebar {
    background: rgb(241, 241, 241);
    height: 100%;
}

.kenta-content {
    padding: 10%;
    padding-top: 40px;
    width: 100%;

    overflow-y: scroll;
    box-sizing: border-box;
}

.kenta-sidebar-row {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 60px;
}

.kenta-sidebar-button > .kenta-sidebar-div {
    transition: 0.2s;

    font-size: 18px;

    height: 20px;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
    padding: 15px;
}

.kenta-sidebar-button:hover > div {
    color: rgb(252, 252, 252);
    background: rgb(0, 175, 161);

}

.kenta-dropdown-content {
    display: flex;
    height:  0;
    flex-direction: column;

    overflow: overlay;
    padding: 0 !important;
    margin-bottom: 5px;

    transition: 0.2s;
}

.kenta-dropdown-link {
    display: block;
    height: fit-content;
    padding: 10px 15px;
    color: rgb(252, 252, 252);
    background: rgb(0, 175, 161);
}

.kenta-dropdown-link:hover {
    background-color: rgb(0, 104, 117);
}

.kenta-dropdown:hover .kenta-dropdown-content {
    height: 240px;
}

.kenta-secret {
    opacity: 0.05; 
}

.kenta-secret:hover {
    cursor:default;
}